[2011-07-07 13:58] dtuber opened #1 "tty02.conf"
Hi,
I'm using your netinstall method to try and boot the beagleboard, but every time I run it, I get this error:

cp: cannot stat `/home/senortubes/netinstall/scripts/ttyO2.conf': No such file or directory

Is there something I'm missing?

Thanks,
David

PS: I've been working with the Beagleboard trying to do a bunch of things with the kernel, so I'll probably be posting on some of your other site

[2011-11-20 11:24] MrModd opened #2 "Kernel panic"
Hi,
I think there's a problem with the last commits you did on 18th November; with my BeagleBoard xM I now receive a kernel panic because of a failure on the mount of root filesystem. I  used the same procedure the day before without any problems for Oneiric (but in Squeeze netinstall keyboard won't work...).
What's the problem?

Thanks.

Regards,
MrModd.

[2011-11-20 16:59] #2 closed, assigned to nobody

[2011-11-26 18:37] #1 closed, assigned to nobody

[2011-11-26 18:40] pedjaman opened #3 "netinstall script failed"

[2011-11-26 18:40] pedjaman opened #4 "netinstall script failed"
System:
uname -a
Linux bbdev 2.6.38-8-generic #42-Ubuntu SMP Mon Apr 11 03:31:24 UTC 2011 x86_64 x86_64 x86_64 GNU/Linux

Terminal log:
user@bbdev:~$ cd Documents/work/method_2/
user@bbdev:~/Documents/work/method_2$ git clone git://github.com/RobertCNelson/netinstall.git
Cloning into netinstall...
remote: Counting objects: 1127, done.
remote: Compressing objects: 100% (439/439), done.
remote: Tota

[2011-11-26 19:02] #3 closed, assigned to nobody

[2011-12-02 12:11] #4 closed, assigned to nobody

[2011-12-02 12:15] pedjaman opened #5 "Latest netinstall kernel fail to load on beaglebaord"
Latest netinstall script used.
beaglebaord
oneiric
Boot started normally and at some point of boot process kernel hangs with message like this:
pvrsc: 1280x720p@16

Any idea why?

[2012-01-17 20:06] #5 closed, assigned to nobody

[2012-02-04 00:19] RobertCNelson opened #6 "d-i base-installer/kernel/skip-install boolean true"
Need to try:

d-i base-installer/kernel/skip-install boolean true

DEBCONF_DEBUG=developer DEBIAN_FRONTEND=text debian-installer/framebuffer=false

should stop flash-installer and simplfy the end script for ubuntu..

[2012-07-29 15:53] daurnimator opened #7 "beagle doesn't need firmware"
dl_device_firmware fetches wifi/bluetooth drivers for beagleboards.... they don't have the peripherals (shouldn't it be for panda only?)

[2012-08-15 22:10] #7 closed, assigned to RobertCNelson

[2012-08-23 16:23] RobertCNelson opened #9 "odroid notes"
dd if=u-boot-mmc-spl.bin of=/dev/sdb bs=512 seek=1
dd if=u-boot.bin of=/dev/sdb bs=512 seek=65

[2012-11-16 22:35] MrModd opened #11 "Missing bootloader after Ubuntu installation"
Hi,
I've tried to install Ubuntu on my BeagleBoard XM, but when the installation arrives at the last step it fails installing the bootloader and on reboot the board doesn't start.
Looking the content of the SD card, the bootloader partition results empty.

Best regards,
Federico

[2012-11-17 09:18] #11 closed, assigned to RobertCNelson

[2012-12-13 18:48] RobertCNelson opened #12 "auto partition"
partman-auto-recipe.txt

[2012-12-20 17:06] #12 closed, assigned to RobertCNelson

[2013-01-28 03:55] RobertCNelson opened #13 "fsck override.."
http://bugs.debian.org/cgi-bin/bugreport.cgi?archive=no&bug=694928

[2013-04-13 19:23] RobertCNelson opened #14 "imx6q-sabrelite.conf"
about an hour ago
David Ibarra
Hi Robert,

I had a SD card with ubuntu created with netinstall (since my last try on I was not able to configure the network interface). Then today  I show the "ip link set dev eth0 address aa:bb:cc:dd:ee:ff" issue and finally I get the network interface working. But initially I wanted to use debian so I tried git and netinstall again (./mk_mmc.sh --mmc /dev/sdb --d

[2013-04-13 19:25] #6 closed, assigned to RobertCNelson

[2013-04-23 13:41] huett opened #15 "netinstall hangs in partitioner at 52%"
Hello Robert,

a month ago I had no problem with netinstall.

But now it hangs in partitioner at 52%. This guy had the same problem
https://groups.google.com/forum/?fromgroups=#!topic/beagleboard/Ngmiqq4E_Vc

Thank you
Peter

[2013-05-13 09:45] rchapman1 opened #16 "/dev/sde1: No such file or directory"
I have been trying to install quantal for beaglebone black on an sd card using a centos 5.9 system.
After installing a bunch of packages - I got rid of all those errors - but now get the above error for reasons I don't understand.
Console session output below.

[root@C5 netinstall]# ./mk_mmc.sh --mmc /dev/sde --uboot bone-serial --distro quantal

I see...
fdisk -l:
Disk /dev/sda: 250.0 GB, 2500582

[2013-05-13 12:05] #14 closed, assigned to RobertCNelson

[2013-07-12 15:57] #15 closed, assigned to RobertCNelson

[2013-07-28 10:57] darkstar007 opened #17 "Debian installer - all disks not found"
I'm trying to install debian on my beaglebone-black. I create a microSD card with:

./mk_mmc.sh --mmc /dev/sde --dtb am335x-boneblack --distro wheezy-armhf  --firmware

The issue I have is that the internal 2GB 'disk' in the BBB is not found - so when I come to partition the disks I'm not given that as an option nor does it seem to be listed in /dev or /dev/disks/by-uuid. (I only get the 8GB micro

[2013-09-04 17:53] mrawlik opened #18 "partprobe not found"
The script also depends on debian `parted` package (command `partprobe`, ./mk_mmc.sh: line 1179 ). It is not mentioned in missing dependencies.

[2013-09-04 18:22] #18 closed, assigned to RobertCNelson

[2013-09-09 18:35] dsalychev opened #19 "Unexpected ${TEMPDIR}/disk unmounting"
## Environment

Linux 3.2.0-4-amd64 #1 SMP Debian 3.2.46-1+deb7u1 x86_64 GNU/Linux
## Command

[code]
## Error

[code]
## Where is it in mk_mmc.sh

I am looking for affected part in the mk_mmc.sh and got it here:

[code]
## Workaround

[code]

[2013-10-20 17:26] #19 closed, assigned to nobody

[2013-12-13 03:19] RobertCNelson opened #20 "sfdisk: sudo sfdisk -v"
Certain versions of sfdisk do not currently create a proper omap bootable fat partition..

CentOS 6.x: (broken)

[code]

Debian Squeeze: (broken)

[code]

Debian Jessie: (works)

[code]

[2013-12-16 08:56] slavino opened #21 "wrong link for BeagleBoneBlack"
Error:
## Downloading NetInstall Image

--2013-12-16 09:52:27--  http://ftp.debian.org/debian/dists/wheezy/main/installer-armhf/20130613+deb7u1/images/mx5/netboot/efikamx/uInitrd
Resolving ftp.debian.org (ftp.debian.org)... 130.89.148.12
Connecting to ftp.debian.org (ftp.debian.org)|130.89.148.12|:80... connected.
HTTP request sent, awaiting response... 404 Not Found
2013-12-16 09:52:42 ERROR 404:

[2013-12-22 04:37] markb1 opened #23 "DHCP on BeagleBone Black"
I know it's a known issue, but what's the status of the DHCP issue on BeagleBone Black?  What's the cause? And is there any workaround other the a USB network adapter? Thanks!

[2014-01-07 01:01] #16 closed, assigned to RobertCNelson

[2014-01-20 06:36] russm opened #24 "cdc_ether no longer works in wheezy-armhf netinstall on BeagleBoard C3"
it looks like cdc_ether has stopped working in current builds of wheezy-armhf netinstall.

I have previously booted a netinstall image with a 3.7 kernel, configured the usb0 device that appears on my Linux host, and completed an install.

After updating today to the current netinstall image (kernel 3.13.0-rc8-armv7-x8, commit 3f80df1 on the netinstall repo) the installer gets as far as "Detecting

[2014-01-21 04:05] #24 closed, assigned to RobertCNelson

[2014-01-21 07:58] Andy1978 opened #25 "No MT9P031 in latest debian netinstall (3.13.0-rc8-armv7-x8)?"
Dear RobertCNelson,

I have a BeagleBoard-xM Rev C with LI-5M03CS camera module from Leopard Imaging with Aptina mt9p031 sensor.

I've followed the steps on http://www.elinux.org/BeagleBoardDebian#Debian_NetInstall
(basically git clone, ./mk_mmc.sh --mmc /dev/sdX --dtb omap3-beagle-xm --distro wheezy-armhf)

The kernel installed is 3.13.0-rc8-armv7-x8 but I cant find the MT9P031 module (used in 3.

[2014-02-07 17:16] pfrossard opened #26 "Beaglebone Rev.A6a ..."
Hi,
I'm trying to install debian on my beaglebone Rev.A6a with,
./mk_mmc.sh --mmc /dev/sdh --dtb am335x-bone-serial --serial-mode
And the board reboot indefinitely,
I modify uEnv.txt but without success,
Any idea ?

[2014-02-07 18:30] #26 closed, assigned to nobody

[2014-07-21 21:55] msilvax28 opened #30 "Wandboard Quad will not boot installer"
Retrieved the latest git repo to create an netinstall image for the wandboard quad. The netinstall SD card will not boot.

Not sure of the 'correct' fix, but here's what I found:
- The u-boot mmcboot command is looking for /boot/uEnv.txt, but it doesn't exist in the image (instead it's /uEnv.txt).  I created a copy in /boot/uEnv.txt as a 'workaround'.
- the u-boot mmcboot script also doesn't seem

[2014-07-29 16:09] sstickel opened #31 "netinstall not booting"
SD Card does not boot here.

Host System: Ubuntu 14.04
Target: Pandaboard ES B1

Tried using jessie wheezy and trusty, all the same

<pre>sudo ./mk_mmc.sh --mmc /dev/sdj --distro wheezy-armhf --firmware --dtb omap4-panda-es</pre>

Output I get on serial console is only the greeting string of u-boot:

<pre>U-Boot SPL 2014.07-00014-g2efdfb0 (Jul 22 2014 - 10:58:52)
OMAP4460 ES1.1</pre>

Left it alon

[2014-08-15 14:45] jolan opened #32 "beaglebone black installer no longer works"
I ran:

sudo ./mk_mmc.sh --mmc /dev/sdb --dtb am335x-boneblack --distro trusty-armhf --serial-mode

Output here:

http://sprunge.us/ebSR

After placing the uSD card into bbb and booting:

[code]

Removed uSD and ran fdisk, there is not partition 2:

[code]

In #31, you said to remove the old eMMC bootloader first.  I can't find instructions to do so.

Only how to "deal with it" from https://eewiki

[2014-08-20 10:32] ferraith opened #33 "Copy trusty from SD card to eMMC doesnt' work (beaglebone black)"
Hello!

I tried a netinstall of trusty on a beaglebone black using your script. First of all a tried to directly install it on the internal eMMC. During the ubuntu installation process the internal eMMC isn't detected anymore.

After some research with google I found out that the netinstall script doesn't work for installations directly on eMMC. (https://github.com/RobertCNelson/netinstall/issues/

[2014-09-04 09:59] pawan9889 opened #34 "Bootloader is not downloading"
I am using Beagle Board xm, and i want to mount ubuntu image on sd card for my board.
While Executing Script from net install, after showing "Downloading Device's Bootloader",it is saying that "wget: unable to resolve host address ‘rcn-ee.net’".

sudo ./mk_mmc.sh --mmc /dev/sdf --dtb omap3-beagle-xm --distro trusty

When i Check  wget with rcn-ee.net and google it is working perfectly.
i was downl

[2014-09-21 19:43] Hector-Cordell opened #35 "Wandboard installer broken"
Running mk_mmc.sh with the argument '--dtb wandboard-quad' causes following error message:

[code]

[2014-09-22 00:12] #35 closed, assigned to nobody

[2014-09-25 10:12] zatalian opened #36 "pandaboard es netinstall hangs on boot"
I tried using netinstall over a serial port on multiple pandaboard es with multiple sdcards. I tried wheezy, jessie and trusty. I always get the same error during kernel loading:

http://pastebin.com/bfNGCrGZ

Last time i tried was 1 year ago, but then everything worked fine...
- Any idea what is going wrong?
- How can i get the netinstall version of 1 year ago out of github?

[2014-11-06 17:02] #32 closed, assigned to nobody

[2014-11-27 16:42] xcaixal opened #38 "Pandaboard A6 hangs on netinstall"
Hi:

Pandaboard A6 hangs on netinstall. This is the last part:

   6.987091] hidraw: raw HID events driver (C) Jiri Kosina
[    6.993743] usbcore: registered new interface driver usbhid
[    6.999572] usbhid: USB HID core driver
[    7.004333] ashmem: initialized

Nothing else. I tried omap4-panda-a4 and omap4-panda-es, and the result is the same.
The board runs perfect with an old ubuntu 12.04 (k

[2014-11-28 22:04] #38 closed, assigned to nobody

[2015-01-20 03:04] Powersurge opened #39 "Kernel 3.18.3 crashes when formatting iSCSI drive"
First of all, I must say this is an awesome utility!  I love it!  Debian installed without a hitch.

One issue that I am having is that I cannot figure out how to copy an older kernel image to my SD card.  I even tried specifying the --deb-file tag, but that just causes my Wandboard not to boot.  I believe that the latest kernel 3.18.3 will not work with iSCSI because it crashes when I try to form

[2015-01-20 03:16] RobertCNelson commented on #39
For i.mx6's, give the "--use-beta-kernel" flag, 3.18.x is very unreliable on my wand's, i've already switched them to v3.19-rc4/5. However v3.19-rc5 is broken on omap's, so i haven't pushed v3.19-rc5 over 3.18.x in the stable channel yet.
Regards,

[2015-01-21 05:41] Powersurge commented on #39
Thanks Robert!  I added the "--use-beta-kernel" flag and everything is working perfectly now.

[2015-02-16 00:54] spinza opened #40 "Tried this on wandboard quad c1"
I does not start up.
I ran this from an ubuntu 14.04 host.
http://pastebin.com/t36P9VNi

[2015-02-16 01:26] RobertCNelson commented on #40
@spinza and what does the serial port show?

[2015-02-16 10:42] spinza commented on #40
I started going through your full build instructions and then I saw the netinstall method in the comments.  I've done the full build before, but prefer to skip full build process.

The image on the card before I started was working but I wanted to start with a clean image.  My wandboard had been gathering dust and thought I'd try again to get it up and running.  From what I recall the spdif light

[2015-02-16 10:46] spinza commented on #40
The only thing I can think of is that I'm trying it with a different hdmi screen than before.  Might that affect things?

[2015-02-16 10:49] spinza commented on #40
Oh and the other thing is that the there is an error in the pastebin with regard to formatting the partition.  I'm at a different location now so can't access the pastebin or the original dump but you can see it.  It complains about the device being in use.  I wasn't sure if this was expected?

[2015-02-16 19:49] spinza commented on #40
@RobertCNelson sorry didn't @ you?

[2015-02-16 20:26] RobertCNelson commented on #40
No it works fine..  After i made sure to tie the gnd off on the serial cable. (terrible board design)  The hdmi came up with the default video parameters and the install began as normal.

Regards,

[2015-02-16 21:07] spinza commented on #40
It was the monitor.

[2015-02-16 21:07] #40 closed

[2015-02-27 23:42] mtmspm commented on #25
Just tried latest wheezy 3.19.0-armv7-x3 and the camera is still not recognized.
Did anybody got this camera to ever work in any meaningfull way ?

[2015-03-18 10:10] juanrubio opened #41 "Copying Device Tree Files: No space left on device"
I think this was the command invocation:
[code]
And the result was:
[code]

It worked when I increased from 48 to (say) 96 the following variable:

[code]

[2015-03-18 15:44] #41 closed

[2015-03-18 15:45] RobertCNelson commented on #41
Thanks, looks like the kernel is getting fatter, kernel module compres won't help as the initrd is already compressed:

[code]

[2015-03-31 09:37] Elite opened #42 "Riotboard"
Hi,

Will this work on RiotBoard - http://www.element14.com/community/community/designcenter/single-board-computers/riotboard ??

Thanks

[2015-03-31 12:59] RobertCNelson commented on #42
Not out of the box.  You'll have to patch u-boot, look to the "wand*.conf's" for reference and use the local "--spl* <file>" options..

* actually look at the bottom of mk_mmc.sh for those variable names..

[2015-04-14 01:38] anish198519851985 opened #43 "latest Netinstall method is broken"
I have tried netinstall method to flash my mmc card sometime back and it worked like a charm. However when i tried today i got the below problem and it just exits without doing anything.

command used: sudo ./mk_mmc.sh --mmc /dev/mmcblk0 --dtb omap3-beagle-xm --distro trusty

It bails out after below two lines:
Downloading Device's Kernel Image
-----------------------------
2015-04-13 18:36:36 URL

[2015-04-14 01:45] RobertCNelson commented on #43
[code]
I've been migrating from a vps (rcn-ee.net) to dedicated server (rcn-ee.com). Git head of 'NetInstall" has this change.
Regards,

[2015-04-14 01:53] anish198519851985 commented on #43
https://github.com/RobertCNelson/netinstall/commit/470a26f393b054f12be015710961a19c4ad5c244 after this commit soemthign is broken. I tested before this and it is downloading but it is in progress now.

[2015-04-14 01:54] anish198519851985 commented on #43
Oh sorry. I did git pull and it seems to be progressing. Let me close this issue once netinstall method works again.

[2015-04-14 01:57] RobertCNelson commented on #43
Btw, right now you can also safely use:
[code]
To get v4.0.0, as i had one more build fix for wheezy, so i didn't push it the "stable" branch thus going over 3.19.x. Since it built fine, when v4.0.1 comes out, it'll automaticly be pushed over 3.19.x ;)
Regards,

[2015-04-14 02:00] anish198519851985 commented on #43
It seems to be not booting. I think i have to wait for 10 to 20 min. I will also use --beta-kernel. Let me update you.

[2015-04-14 02:58] anish198519851985 commented on #43
weird. The logs were not coming from the serial terminal and then i checked my other uEnv.txt and replaced the current uEnv.txt with below command and it worked (atleast i got the logs and currenlty installation is in progress, using serial terminal to install ubuntu):
console=ttyO2,115200n8 root=/dev/mmcblk0p2 ro rootfstype=ext4 rootwait fixrtc quiet

In the current netinstall method uEnv.txt was

[2015-04-14 03:54] fojianfenshuo opened #44 "Starting kernel ... out of time"
the serial tool screen :

U-Boot SPL 2015.04-rc5-00001-g47cb017 (Apr 01 2015 - 13:14:54)
SPL: Please implement spl_start_uboot() for your board
SPL: Direct Linux boot not active!
reading u-boot.img
reading u-boot.img

U-Boot 2015.04-rc5-00001-g47cb017 (Apr 01 2015 - 13:14:54), Build: jenkins-github_Bootloader-Builder-133

OMAP36XX/37XX-GP ES1.2, CPU-OPP2, L3-200MHz, Max CPU Clock 1 Ghz
OMAP3 Beagl

[2015-04-14 04:16] RobertCNelson commented on #44
Sorry, should be fixed with:
https://github.com/RobertCNelson/netinstall/commit/9eac66fd86e4abae93360d263c6cc90bb1d80345

In the kernel, i had to revert from the new "ttySx" generic omap serial driver back to the older "ttyOx" omap driver.

Regards,

[2015-04-14 14:36] RobertCNelson commented on #44
Tested this morning, looks good on my xm, please re-open if the issue comes up again.

[2015-04-14 14:36] #44 closed

[2015-04-14 14:54] RobertCNelson commented on #43
Tested it this morning, everything works like expected.
As you didn't force serial mode "--serial-mode" i can only assume your hdmi monitor might have failed.
Try un-commenting:
https://github.com/RobertCNelson/netinstall/blob/master/hwpack/omap3-beagle-xm.conf#L30
(you'll probally have to do a "git pull" as i just added ^)
Regards,

[2015-04-14 17:22] anish198519851985 commented on #43
I had addeded in uEnv.txt this line as below but it didn't work.
--serial-mode console=tty0 root=/dev/ram0 rw
I don't have hdmi monitor and i want to install it using serial mode. Do you think what i did above in uEnv.txt is the right thing to do?

[2015-04-14 17:25] RobertCNelson commented on #43
If you want --serial-mode, you have to use this:
[code]

[2015-04-15 15:59] fojianfenshuo commented on #44
It has been solved, thanks.

[2015-05-04 12:35] fojianfenshuo opened #45 "Step: Install software. failed!"
Every time , the installation failed in this step: install software.

[2015-05-04 13:25] RobertCNelson commented on #45
http://www.catb.org/esr/faqs/smart-questions.html#beprecise

[2015-05-14 09:30] gurpartap007 opened #46 "unable to find iscsi drive"
I am using serial mode and I go upto username and password.But after that installer is reporting that no disk drive found.please help.
when I plug sd card into laptop it only shows BOOT partition.Does I have to manually create rootfs partition.

[2015-08-10 19:24] Alaganraj commented on #25
Hi All,

I've tested beagleboard-xM camera LI-5M03 (mt9p031) with device tree on Linux 4.2.0-rc5.

Sakari's omap3isp device tree patches are mainlined in linux 4.1.0-rc1. However couple of Laurent's patches not mainlined.

If anybody interested, please go through link for more details
https://alaganraj.wordpress.com/2015/08/08/beagleboard-xm-camera-li-5m03-mt9p031-support-with-device-tree/

Thanks

[2015-09-24 07:19] mickaelv opened #47 "Unable to configure netinstall"
After Pulling the last mk_mmc script, It can't configure the install properly. The script can't find /tmp/tmp.baIVEcx032/bootscripts/*.cmd but ls command return :

# System

# Install log

-----------------------------

Script Version git: 97f2972
-----------------------------

Downloading Device's Bootloader
-----------------------------
2015-09-24 08:51:11 URL:https://rcn-ee.com/repos/bootloader

[2015-09-24 11:44] RobertCNelson commented on #47
Sorry about that, i got a little over eager from the shell script analysis, fixed in: https://github.com/RobertCNelson/netinstall/commit/66757c1109666ebc9f723946cd9568c4382b944c

and just tested:  sudo ./mk_mmc.sh --mmc /dev/sdd --dtb am335x-boneblack --distro jessie

[2015-09-24 12:12] mickaelv commented on #47
Hi Robert,

Thanks for your fast answer and fast correction,

Regards,
Mickaël

[2015-09-24 12:12] #47 closed

[2015-10-27 15:21] kizzlebot opened #48 "More informative information in README please"
This repository is referenced from elinux pages but this repo's README and elinux doesn't exactly state what "netinstall" is used for.  I had to try it myself to see that it does what I thought that it did.  Can you please give more general information in the READMEs for these repos?

[2015-10-27 16:17] RobertCNelson commented on #48
@kizzlebot netinstall = Network Install for a bunch of arm boards

[2015-11-06 20:21] WouterRademaker opened #49 "Boot partition needs to be bigger for Ubuntu"
At least 67 Mb

[2015-11-06 20:27] #49 closed

[2015-11-29 11:38] Mausy5043 commented on #48
I have to agree with @kizzlebot: From the README it is not entirely clear to me what the final product actually is/does. Especially given that the BeagleBone Black allows for various ways of running an OS (from eMMC and from uSD). My main question was: Is this a repo that creates a flashable image on the uSD or does the installation have to be run from the uSD?

I started reading `mk_mmc.sh` but t

[2015-11-29 13:31] RobertCNelson commented on #48
@Mausy5043 due to the customization of the "debian installer"

https://wiki.debian.org/DebianInstaller

It is "impossible" for me to write any readme that clearly explains exactly what your final product could be.

All this script does, downloads "debian installer" for a specific distro, wheezy/jessie/stretch trusty/etc, modifies the initrd for our custom kernel, add's the apt repo and makes sure

[2015-11-29 13:45] Mausy5043 commented on #48
:+1:

[2015-12-16 01:05] thefinn93 opened #50 "repos.rcn-ee.com inaccessible over IPv6"
`repos.rcn-ee.com` has an AAAA record, but it does not respond (via http, icmp) over IPv6. The Debian installer doesn't seem to want to fall back to IPv4 upon IPv6 failure. I've configured my local DNS resolver to respond with only the IPv4 address for now, but this is a hack at best and really not ideal

[2015-12-16 01:05] thefinn93 commented on #50
Also, not sure if this is the appropriate place to post about it, if somewhere else is better please direct me there...

[2015-12-16 01:13] RobertCNelson commented on #50
@thefinn93

Is there a good way to test ipv6. (i'm stuck on ipv4 here)
With linode, repos.rcn-ee.com should work over ipv6:

[code]

Unless i have misconfg in apache..

Regards,

[2015-12-16 01:22] thefinn93 commented on #50
It's not an apache issue. I can't ping it over IPv6 either. Perhaps a linode routing issue? My traceroutes seem to be dying at different things named `0.00.0000.ip4.static.sl-reverse.com`:

[code]

[2015-12-16 01:29] RobertCNelson commented on #50
Closers... it was my ip6tables rule..

validating with: http://ipv6-test.com/validate.php
rcn-ee.com now works
repos.rcn-ee.com still broken..

[2015-12-16 01:50] RobertCNelson commented on #50
Okay down to apache it looks like:
rcn-ee.com:
[code]

[code]

[2015-12-16 01:54] RobertCNelson commented on #50
Okay, http://repos.rcn-ee.com/ now seems to work over ip6.. please test. ;)

This was my ip6tables rule...

[code]

[2015-12-16 04:19] thefinn93 commented on #50
Yep! Seems to work now. Thanks :)

[2015-12-16 04:19] #50 closed

[2015-12-23 22:25] pavoldroba commented on #46
I have encountered the very same issue. Is there any hint how to proceed?

[2015-12-23 22:27] RobertCNelson commented on #46
@pavoldroba this is usually "mmc -110" error..  try a different microSD drive..

[2015-12-23 22:42] pavoldroba commented on #46
Thanks a lot, changing SD card did indeed solve the issue.

[2015-12-30 15:48] minhlevn opened #51 "Help!!! "Please include /var/log/netinstall.log...""
I want to install Ubuntu into SDCard for beagleboard xm. I used netinstall of RobertCNelson, but when I finished, it announced that "Please include /var/log/netinstall.log from RootFileSystem". And when I inserted my SD card into Beagleboard xm, it booted but at step of Choose a mirror, It messaged "/var/log/......" again. What should I do with this problem? How can I include netinstall.log as the

[2015-12-30 16:50] RobertCNelson commented on #51
@minhlevn There is a step by step example here:

https://github.com/RobertCNelson/netinstall/blob/master/test.Ubuntu

Please clarify what stage you got to and what issue your having

Regards,

[2015-12-31 02:41] minhlevn commented on #51
I finished install with messages:

Finished populating Boot Partition
-----------------------------
mk_mmc.sh script complete
Script Version git: e5934ae
-----------------------------
Reporting Bugs:
https://github.com/RobertCNelson/netinstall/issues
Please include: /var/log/netinstall.log from RootFileSystem

Then I inserted my SDCard into Beagleboard xM. Until "[!!] Choose a mirror of the Ubuntu

[2015-12-31 03:31] RobertCNelson commented on #51
This
[code]
could be a bad network connection, or ubuntu.com could be having network problems*..  Please verify which "--distro xyz" option you selected and i'll verify it tomorrow..

Regards,

Note: if it's ubuntu's network problem, there's not much we can really do, except wait till they fix it..

[2016-04-13 16:58] truffel08 opened #52 "Problem with netinstall beagleboard c3"
Hello.
I have beagleboard c3 and usb wi-fi stick. I want to install debian with netinstall method with serial mode.

Prepare SD
sudo ./mk_mmc.sh --mmc /dev/sdb --dtb omap3-beagle --distro jessie --firmware --serial-mode

Upgrade uboot http://elinux.org/BeagleBoardNAND#U-Boot_v2011.12_or_newer

But I have some problem with netinstall into serial mode.

When i try to boot, booting freeze ( Loading R

[2016-09-09 19:40] zaleksf commented on #30
Hello:

I am attempting to initiate a debian stretch netinstall on a wandboard quad. I have successfully created an OS disk using: sudo ./mk_mmc.sh --mmc /dev/mmcblk0 --dtb wandboard --distro stretch --firmware

Everything appears to be fine on the disk, and the hardware seems fine (power light on wandboard, keyboard, etc).

However, nothing happens when power is applied. Thoughts?

[2016-09-09 19:43] RobertCNelson commented on #30
@zaleksf

in stretch, they changed a few things that happen at the very end of the install..

For now, use the "jessie" option, and dist-upgrade to stretch after..

I haven't had time to track down the issue, but i'm aware of it. (we are a few months from the freeze, so i'd like to fix it before then..)

Regards,

[2016-09-09 19:52] RobertCNelson commented on #30
@zaleksf you should see this over serial:

[code]

make sure you are using the microSD on the smaller som board, not the big base board.

Regards,

[2016-09-09 20:08] zaleksf commented on #30
Thanks,

I converted the BOOT disk to jessie (wipe and fresh install). I put the disk into the smaller som board, and still cannot see the boot-up... I thought I would see this on the monitor (did not use --serial mode as an option).

Do I need to switch to serial mode? and if so, how do I observe the start-up (sorry for ignorance)?

Thanks

[2016-09-09 20:13] RobertCNelson commented on #30
@zaleksf hdmi should work, make sure you have a common gnd between the board and the monitor..

aka, if your monitor has a usb hub, plug that into your wandboard..

Floating gnd's is usually the problem with hdmi monitors...

Regards,

[2016-09-11 21:40] zaleksf commented on #30
Ahha! the root issue for me has that I needed to use the precise power supply voltage: 5VDC with a minimum of 800 mA current.

So, I can confirm that the debian jessie installer works, observing the process directly from a monitor via the hdmi connection. However, the debian stretch installer works only up to the step of 'make the installation bootable', where it fails.

[2016-09-12 22:16] RobertCNelson commented on #30
@zaleksf stretch is now fixed on master, dealt with the fun flash-kernel safetly check..

Regards,

[2016-09-17 00:52] zaleksf commented on #30
I did get the 'wandboard - stretch' netinstall version to successfully install a nice OS with xcfe - great! I installed several other packages and restarted successfully several times.

Then I returned the HDMI cable I swiped from our wii-u game system and installed the HDMI cable that I purchased, and restarted the wandboard. It never made it to the lightdm greeter, and failed with a flashing pro

[2016-10-27 10:54] zatalian opened #53 "root parameter in uEnv.txt is ignored"
Hi,

I'm trying to make my pandaboard-es boot without uuid=... parameters. This used to work, but for some reason is now impossible.

if my /boot/uEnv.txt looks like this:

`uname_r=current
backup_serial_console=ttyO2,115200n8
set_boot_args=setenv bootargs console=${console} ${optargs} ${cape_disable} ${cape_enable} root=${root} rootfstype=${rootfstype} ${cmdline}
uuid=48081c93-1a24-4cf0-a975-1a5e

[2016-10-27 12:07] RobertCNelson commented on #53
Use:
[code]

[2016-11-10 07:05] narendrakc-path opened #54 "Enable bluetooth usb"
Hi i flashed the ubuntu xenial in beagleboard xm by following the readme can anyone tell me how to enable the bluetooth usb so that i can connect other bluetooth device with it.
Thanks

[2016-11-10 14:38] RobertCNelson commented on #54
Install the bluetooth package:
[code]

[2016-11-20 23:39] mscdex opened #55 "xenial netinstall fails during bootloader installation"
Here's the last several lines from syslog after the bootloader installation ("Make the system bootable" step) attempt fails:

[code]

I'm using the omap4-panda dtb FWIW

[2016-11-20 23:50] #55 closed

[2016-11-20 23:51] RobertCNelson commented on #55
@mscdex i think this will fix it..

Please do a git pull and retry..

Regards,

[2016-11-21 00:44] mscdex commented on #55
That worked. Thanks for the quick response and the quick fix!

[2017-01-05 13:12] shisoft opened #56 "shisoft_0307303892"

[2017-01-29 00:14] ch0mik opened #57 "Jetson TK1 : partition disk"
Hello,

Im now installing the Debian Jessie on my Jetson TK1 via Yours scripts ... its easy way than official Debian Wiki ! (https://wiki.debian.org/InstallingDebianOn/NVIDIA/Jetson-TK1)

I have SATA disk /dev/sda for root filesystems, but I tried with /boot/ for many times ... without boot after reboot.

http://obrazki.elektroda.pl/9951589700_1485648616.png - test with boot on SD (/dev/mmcblk1p1)

[2017-01-29 02:41] RobertCNelson commented on #57
@ch0mik the trick is to not alter the initially created boot partition on the microSD.  There's a few scripts on their required by the debian-installer for finalization.  And i have a boot.scr/uEnv.txt script in the boot partition for u-boot to know where to jump to the rootfs:

[code]

[code]

[code]

Regards,

[2017-01-29 12:15] ch0mik commented on #57
Robert,

is it mean : in partitioning disk dialog dont format existing partition   mmcblk1p1 (leave as is was) and use (mount) mmcblk1p1 as /boot/ or as /boot/uboot/  ?

Regards
Pawel

[2017-01-29 17:25] RobertCNelson commented on #57
@ch0mik yeah, just leave the boot partition the way it's auto-configured.. it'll get added to /etc/fstab later:

https://github.com/RobertCNelson/netinstall/blob/master/lib/debian-finish.sh#L69-L73

Regards,

[2017-01-30 12:53] ch0mik opened #58 "After install : dosnt recognition usb devices (TK1)"
Hello,

after install I cant logon to X-Window, Console via keyboard.
lsusb :
Bus 002 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

dmesg : [https://justpaste.it/12yns](https://justpaste.it/12yns)

netinstall.log

Ps. - after few minutes I got in dmesg :

and Xwindow hangs ...

with Regards
Pawel

[2017-01-30 21:36] RobertCNelson commented on #58
We looks like we are missing the usb firmware:

[code]

[code]
[code]
[code]

[code]

[2017-01-31 18:39] ch0mik commented on #58
Thx Robert, it works ;) !
PS. its similar problem on Debian`s Wiki : https://wiki.debian.org/InstallingDebianOn/NVIDIA/Jetson-TX1

[2017-02-01 18:47] ch0mik opened #59 "my fail : I lost XWindow ..."
my dmesg : http://pastebin.com/raw/REsG4hq6
contents of /boot : http://pastebin.com/raw/F5YdtzR4
contents of /lib/firmware : http://pastebin.com/raw/ZSpcbazL

What I should to do to bring back XWindow ? ;)

Regards
Pawel

[2017-02-08 18:10] ch0mik commented on #59
Robert, its something wrong. I`ve fresh install on Jessie with kernel 4.9.8 - on 1. boot after install all works fine. USB devices too (commit b62ec346bc709d368bb5047c7046a061de6efd2a), but then I reboot the JTK1, XWindow gone with /dev/null ... with the same dmesg as below.

[2017-02-17 08:48] ch0mik opened #60 "tapping disk sata"
Hello,

I noticed that in my Jetson k1, the kernel newer than 4.9.6 (v4.9.6-ARMv7-lpae-x4) makes tapping disk drive sata.

PS. is v4.10.0-rc8-tegra-r0 for TK1 too ?

Regards
P.

[2017-02-17 14:56] RobertCNelson commented on #60
@ch0mik tapping? sounds more like a harddrive failure to me, run...

[code]

the tegra linux-image file is just the mainline tegra_defconfig build..

Regards,

[2017-02-17 18:39] ch0mik commented on #60
smartctl : http://pastebin.com/p6t4cyN6

[2017-02-17 19:21] RobertCNelson commented on #60
[code]

Harddrives don't last forever, time to get a new one..

[2017-02-17 19:24] ch0mik commented on #60
Robert, Do You use a SSD HD for TK1 ?

PS. my new dmesg http://pastebin.com/0gurZ7qq

[2017-02-17 19:33] RobertCNelson commented on #60
I only have 4 spinning drives left in my build farm, been slowly replacing all spinning laptop drives with

https://www.amazon.com/gp/product/B009SX6VLC/

as they fail..

[code]

Regards,

[2017-03-27 09:16] thexplanet commented on #34
Dear All,
I am too getting the same error.
wget: unable to resolve host address ‘rcn-ee.net’
![Uploading Screenshot from 2017-03-25 13-28-19.png…]
I do have a working internet connection.

[2017-04-22 06:54] ch0mik commented on #60
on kernel 4.9.23 works fine - without strange noise from disk ;)

[2017-04-22 06:56] ch0mik opened #61 "please update installer to new yakkety/zesty ubuntu"
Hello,

I see that @ https://rcn-ee.com/deb/ repo is the yakkety and zesty ubuntu distro.

Please update the installer.

Regards
Pawel

[2017-04-24 16:51] ch0mik commented on #61
https://github.com/RobertCNelson/netinstall/pull/62

[2017-04-28 17:35] ch0mik commented on #59
fresh install - on first boot lost drivers

https://pastebin.com/PE0ejtHF

Regards
Pawel

[2017-04-28 18:50] #61 closed

[2017-04-28 18:51] #58 closed

[2017-04-28 18:51] ch0mik commented on #60
on 4.9.25 works fine too

[2017-04-28 18:51] #60 closed

[2017-04-28 18:51] #57 closed

[2017-04-28 20:48] kriedel opened #63 "Beaglebone Green Wifi connection"
Hi,

I cannot connect to wifi network, with connman a connection is not possible:
connmanctl technologies
/net/connman/technology/wifi
  Name = WiFi
  Type = wifi
  Powered = True
  Connected = False
  Tethering = False

connmanctl scan wifi
Error /net/connman/technology/wifi: No carrier

connmanctl services
*AO Wired                ethernet_10bf482ff3d3_cable

dmesg delivers:
[   62.902610] usb 1

[2017-04-28 20:51] RobertCNelson commented on #63
@kriedel that's why we use connman vs /etc/network/interfaces...

Regards,

[2017-04-28 20:55] kriedel commented on #63
OK, but what is the problem with connman and wifi?

Regards,
Kai

[2017-04-28 20:59] kriedel commented on #63
ubuntu 16.04.2 (ubuntu-16.04.2-console-armhf-2017-04-07.tar.xz)

[2017-04-28 21:49] RobertCNelson commented on #63
Yeah i see it too, i'm trying a build xenial build with connman disabled.

I don't test ubuntu very often, so i should leave xenial with the network defaults..

[2017-05-11 07:54] kriedel commented on #63
I try to use the new build based on the master branch, but the install script RootStock-NG.sh halt after the following output:

[code]
No image is generated in the deploy folder.

[2017-05-11 13:55] RobertCNelson commented on #63
@kriedel that's a known issue, hence the warning:

[code]

Regards,

[2017-05-18 14:58] ch0mik commented on #59
@RobertCNelson  still is not good : fresh install and 1. boot - errors during boot

https://pastebin.com/94WTKjxc

[2017-05-21 19:51] kriedel commented on #63
It's OK now with the new build, but the source list seems now to be lost:

`sudo apt-get update
0% [Connecting to ports.ubuntu.com (172.1.8.1)] [Connecting to repos.rcn-ee.com
...
Err:3 http://repos.rcn-ee.com/ubuntu xenial InRelease
  Could not connect to repos.rcn-ee.com:80 (172.1.8.1), connection timed out   `

In which file I have to correct the source list?

Regards,
Kai

[2017-05-22 01:09] RobertCNelson commented on #63
ah that looks like network problems..

[2017-05-22 06:45] kriedel commented on #63
ping of http://repos.rcn-ee.com/ubuntu is OK...

[2017-06-26 03:01] kscz opened #64 "Fresh install of Debian Stretch uses kernel 4.4, instead of 4.9"
A fresh install of Debian Stretch via netinstall on an x86_64 machine yields the following:
[code]
Whereas a fresh install of Debian Stretch on my Beaglebone Green Wireless yields:
[code]
Considering the fact that all the way up to `linux-image-4.9.33-ti-r42` is there some reason why a closer version of the Linux kernel isn't available?

Also: if this is the wrong venue for this issue, please let

[2017-06-26 03:12] RobertCNelson commented on #64
@kscz yeah it would make sense to allow users to easily override 4.4.x.

https://github.com/RobertCNelson/netinstall/commit/00474eb6412094ad082b3f752e347d38f2f67a81

Specially since the next lts (4.14.x is probably 2 months away from 4.14.0-rc1)..

The main reason for the 4.4.x default is mostly because of the blue, when we port librobotics to v4.9.x-ti i'll make the jump for the bone family.

Reg

[2017-06-26 04:01] kscz commented on #64
Wow, thanks for the quick response!  ...and fix!  I assume this also pulls over the latest version of the linux-image-firmware-4.9.x as well?

[2017-06-26 07:24] kscz commented on #64
I realized I shouldn't close this, because it's not the default yet!

As a side question, is there something I should be doing to get the [BB-CAPE-DISP-CT43](https://www.element14.com/community/docs/DOC-81966) working? I was under the impression based on the discussions in google group that 4.9 would have all the necessary magic to make that screen work... is that not the case?  I'm still seeing:

[2017-06-26 16:28] RobertCNelson commented on #64
@kscz to get that cape working two things:

Install "bb-cape-overlays" https://github.com/beagleboard/bb.org-overlays/

It's packaged:

[code]
Then in /boot/uEnv.txt
[code]

Double check by connecting a up a usb-serial adapter to the on board serial debug header and setup xorg.conf like so:

https://eewiki.net/display/linuxonarm/BeagleBone+Black#BeagleBoneBlack-HDMI

Regards,

[2017-07-20 21:13] sarnold opened #65 "Jetson "zesty" card boots part way and does nothing."
Hey this is the first time I tried this one so I'm not exactly sure what it's *supposed* to do, but all it has is a kernel and initramfs which I assume is the installer?  I get the "using serial interface" message, but then nothing.

What exactly am I waiting for?  Should I get a console/installer interface at some point?  Isn't there a newer (mainline) u-boot that works now?

Thanks...

[code]

[2017-07-20 21:53] RobertCNelson commented on #65
Hi @sarnold ,

yeah you should get a ncures based terminal window over the serial interface.

from my notes, https://github.com/RobertCNelson/netinstall/blob/master/hwpack/tegra124-jetson-tk1.conf#L28

i last used v2017.03-rc1...

Sadly both my jetson's are now in a box un-plugged.  Ran into random stability issues when running under 24/7 100% load.  One would run for weeks, the other a couple hou

[2017-07-20 21:57] RobertCNelson commented on #65
btw, double check with "--distro stretch" that was the last distro i personally used on the jetson... the zesty enablement was merged by another user, haven't had to chance to personally test it yet.  I just assumed it worked for them.  ubuntu might have thrown in a new curve ball in their debian-installer script, that i'd have to work around..

Regards,

[2017-07-20 22:02] sarnold commented on #65
At the end of the sdcard script it says:

-----------------------------
Required: https://github.com/NVIDIA/tegra-uboot-flasher-scripts (tested: u-boot v2017.03-rc1)
-----------------------------

Required to be where and for what?  Is there a manual step I'm missing?  I'll test it with stretch now...

[2017-07-20 22:11] RobertCNelson commented on #65
That's just the version of u-boot mainline i had used.

at one point it, it was the first to use config_distro_default, hence the required..

Regards,

[2017-07-21 00:19] sarnold commented on #65
Stretch stops at the same place:

[code]

Got any suggestions?  It does boot with my Gentoo sdcard, but at some point the Gentoo root I put on the flash got hosed up :/

[2017-07-21 01:38] sarnold commented on #65
So I went back a made a card like I did for Gentoo using your ubuntu rootfs; turns out I used the tegra-uboot-scripts to make it boot with your tegra kernel.  Since it looks like it still has the original u-boot in flash:

U-Boot SPL 2014.10-rc2-00001-g9f88c9e (Dec 01 2014 - 14:29:15)

I should probably flash a newer u-boot if I want this to work correctly?

[2017-08-30 10:11] Antonstr opened #66 "uEnv.txt"
If you wrongly edited the uEnv.txt on a BeagleBoneBlack and the Beagle boots into initramfs, is there any way you can recover the beagle

##Disable HDMI
cape_disable=capemgr.disable_partno=BB-BONELT-HDMI,BB-BONELT-HDMIN

##Disable eMMC
cape_disable=capemgr.disable_partno=BB-BONE-EMMC-2G

The problem appears to be the removal of the # at Disable eMMC
I can access the uEnv.txt file but it does not a

[2017-08-30 13:45] RobertCNelson commented on #66
@Antonstr sure just boot a console image on a microSD, mount the eMMC and fix it:

http://elinux.org/Beagleboard:BeagleBoneBlack_Debian#Jessie_Snapshot_console

Regards,

[2017-08-31 04:49] Antonstr commented on #66
Good day Robert

Thank you after 3 reboots I could eventually fix it

Regards

Anton

On Wed, Aug 30, 2017 at 3:45 PM, Robert Nelson <notifications@github.com>
wrote:

[2018-01-15 08:52] shameless commented on #66
Hey,  after replace the kernel of the Debian, my Beagle boots into initramfs too, and I don't know how to fix it ,maybe I should edit uEvn.txt to make it right.

[2018-12-09 12:35] ch0mik opened #68 "cant make partition on SSD/HDD (/dev/sda)"
I cant make partition on SDD/HDD disk. During installation Debian or post installation :

`=~=~=~=~=~=~=~=~=~=~=~= PuTTY log 2018.12.09 13:30:52 =~=~=~=~=~=~=~=~=~=~=~=
login as: sq7mru
sq7mru@192.168.1.119's password:
Linux jetsontk1 4.9.119-armv7-lpae-x8 #1 SMP PREEMPT Fri Aug 17 02:07:34 UTC 2018 armv7l

The programs included with the Debian GNU/Linux system are free software;
the exact distrib

[2018-12-09 17:10] RobertCNelson commented on #68
@ch0mik you've been running swap on an SSD?

Better go run smartctl on it, it's probably in a ro only state.

PSA: all my jetson's are dead or not bootable...

Regards,

[2019-04-08 15:28] stuartwesterman opened #69 "distro.conf: NETIMAGE="20170615+deb9u5+b2""
[code]
cheers!

[2019-04-08 16:03] #69 closed

[2019-04-08 16:03] RobertCNelson commented on #69
@stuartwesterman thanks pushed out.

[2019-06-20 10:38] staviq opened #70 "Installer installs uboot on the wrong storage on beaglebone."
I made a netinst sdcard, used the sdcard to install system on beaglebone and the system is not bootable, bootloader is missing because the installer installed in on the sd card instead of the mmc.

Also, the installer wanted to overwrite itself on the sdcard, i had to manually set the partitioning so it uses mmc.

[2019-06-20 11:25] staviq commented on #70
If i remove the netinstall sdcard right after it boots, since netinst runs from ram, the automatic partitioning looks good, and the install finishes, but the system is still missing the bootloader.

[2019-06-20 18:54] RobertCNelson commented on #70
@staviq this is expected, what ever media/device is used with mk_mmc.sh has to be installed on the device thru out the life of the install.

I wrote this script to install two may install types:

Single Device
1: mmc install

Dual Device
1: mmc (bootloader/kernel) install
2: USB/SATA/etc Hard Drive (rootfs) Install

For what you want, I'd have to rewrite the logic behind this script.

Regards,

[2019-06-21 07:36] staviq commented on #70
Ok, i get it now.

And it worked when i booted beagle from sd and created the installer on the mmc, and then when i booted from the netinstall on the mmc, the installer did install correctly.

It is however very confusing that the script pretty much creates an one time install that overwrites itself, at least on the beaglebone.

I think You should either put this information in the description som

[2019-12-29 22:16] ch0mik opened #71 "debian (stretch/buster/bullseye) not starting kernel"
Hi,

I made sd card via cmd :
`sudo ./mk_mmc.sh --mmc /dev/sdd --dtb tegra124-jetson-tk1 --use-stable-kernel --firmware --distro stretch`

or
`sudo ./mk_mmc.sh --mmc /dev/sdd --dtb tegra124-jetson-tk1 --use-experimental-kernel --firmware --distro bullseye` _(*) I modyfied the scripts before._

serial console log : [https://pastebin.com/DViqHbUZ](url)
or the same kernel/initrd via tftpd : https://p

[2019-12-30 01:50] RobertCNelson commented on #71
@ch0mik sadly i had to retire both my jetson-tk1 boards about a year+ ago...  One refuses to boot, while the other is just unstable and locks up..

Regards,

[2020-03-05 16:18] #9 closed

[2020-11-29 20:53] ch0mik opened #72 "missing dtb for Jetson-TK1"
[code]

generate SD image without dtb for tegra K1

[2020-11-30 00:37] RobertCNelson commented on #72
Hi @ch0mik , sorry my jetson-tk1's died a few years back i have no hardware to test tegra's anymore..

Regards,

[2021-04-16 23:20] sarnold opened #73 "questions, repo status"
Howdy:

Seems like a dearth of info/tools for Jetson tk1 flashing (mainly u-boot/emmc) and the last(?) official L4T bsp tools really did a number on the emmc (stopped it from booting *and* broke ethernet when I boot from sdcard).  I didn't even know you had this until today, so I made a card and I'm not sure what the note at the end means:

[code]

Does that mean I need to manually use the (really

[2021-04-17 00:17] RobertCNelson commented on #73
Hi @sarnold a newer version 'should' work, that was just the last version i had tested..  At the time of the commit, i had 2 working tegra's, they probally ran for a number of years after that commit.

Looking at my hwpack file:

https://github.com/RobertCNelson/netinstall/blob/master/hwpack/tegra124-jetson-tk1.conf

[code]

on the tegra, it loads this file:

https://github.com/RobertCNelson/netin

[2021-04-17 00:21] RobertCNelson commented on #73
Ah, so i must have 'flashed" u-boot v2017.03-rc1 with the tegra-uboot-flasher-scripts..

edit... nope the nvidia tool built u-boot...

[2021-04-17 20:33] sarnold commented on #73
Yup, the tegra flasher thing builds u-boot and it apparently defaults to "latest" so I flashed it and now it boots my gentoo card again:

[code]

The L4T stuff just kernel panics, and tegra-5.11 (current) boots your installer but ethernet is broken and I'm not sure why yet.  (note I had to change your flasher ``kernel_subarch`` to tegra and used the stable kernel arg)

[2021-04-18 00:44] RobertCNelson commented on #73
Grab an old network switch, something that will force it to operate at 100MB/s, last i remember there was an old bug on at 1GB/s network connection..

[2022-11-17 17:35] mahajanabhishek opened #74 "Beagleboardxm - not able to boot distro buster"
Used following command:
_sudo ./mk_mmc.sh --mmc /dev/sdc --dtb omap3-beagle-xm --distro buster_

After successful writing of sd card. Not able to boot on beagleboard-xm.
Getting following:
_spl_load_image_fat_os: error reading image args, err - -2_

Did I missed something ?

[netinstall.logs.txt](https://github.com/RobertCNelson/netinstall/files/10034131/netinstall.logs.txt)

[2022-11-17 18:26] mahajanabhishek commented on #74
Tried with --distro stretch --use-stable-kernel

Same issue on booting:
CU-Boot SPL 2018.03-00001-g21a26066ea (May 21 2018 - 15:23:05 -0500)
Trying to boot from MMC1
.ͱ}����}�����}���}ѽ�: error reading image args, err - -2

[2022-11-18 21:50] mahajanabhishek commented on #74
Going through old mail chain it seems this issue is could be related to microSD card. Although I tried different sdcard which worked with old version not working on new images. From old post of July 2020 I can see there was patch available (https://github.com/balena-os/balena-beaglebone/blob/29a9134e1ef339a1d095bac29845926ab24d4082/layers/meta-balena-beaglebone/recipes-kernel/linux/linux-beagleboa

[2022-11-18 22:32] RobertCNelson commented on #74
Sorry, the real issue.. I don't use any xM's 24/7 like i did previously, so when things break... yeah.. bit rot..